.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.project {
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    margin: 10px;
    width: 300;
    min-height: 200px
}