.wrapper {
    height: 100vh;
    display: grid;
    place-items: center;
  }
  

/*animation lasts for 2 secongs and is 22 steps(a character being typed)
blink animation used for cursor effect
using webket properties the background color is clipped to the shape of the text
and then using the transparent property, it makes the actual text color invisible,
but because of the background-clip property, the background shows through the text
*/
.typing {
  width: 30ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 4em;
  background: linear-gradient(
        to right, 
        hsl(2 65% 44%), 
        hsl(212, 80%, 42%)
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: center;

}
/*Starting poiint of animation*/
@keyframes typing {
  from {
    width: 0
  }
}
  /*cursor blinking effect*/
@keyframes blink {
  50% {
    border-color: transparent
  }
}